.hide {
  opacity: 0;
  /* display: none; */
  transition: 0.2s;
  pointer-events: none;
}


.hideObject {
  display: none;
}

.showObject {
  display: inline-block;
}

.wrong-exp {
  opacity: 0.25;
  /* display: none; */
  transition: 0.2s;
}

.initialHide {
  opacity: 0;
  transition: 0.001s;
  transition-timing-function: linear;
}

.show {
  opacity: 1;
  pointer-events: inherit;
  /* display: inline-block; */
  transition: 0.7s;
}

.changeTran {
  width: 8%;
  height: 8%;
  position: fixed;
  right: -80%;
  top: 30%;
  animation: changeTranAni 10s;

}

@keyframes changeTranAni {
  0% {
    transform: rotateZ(120deg);
  }

  8% {
    transform: rotateZ(-65deg);
  }

  16%, 100% {
    transform: translateY(4000%) rotateZ(-65deg);
  }
}

.mybg {
  height: 100%;
  text-align: center;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: "fixed";
  top: 0px;

}

.disapear {
  opacity: 0 !important;
  transition: 0.5s ease-in !important;
  pointer-events: none;
}


.appear {
  opacity: 1;
  pointer-events: inherit;
  transition: 0.3s;
}

.successBtn {
  animation: fadein 0.3s 4;

}

.hoverClass {
  transform: scale(1.05);
  transition: ease-in 0.2s;
}

.playBtn {
  transform: scale(1);
  transition: ease-in 0.1s;

}

.playBtn:hover {
  /* transform: scale(1.035);
  transition: 0.1s; */
  cursor: pointer;
}

.playBtn:active {
  transform: scale(0.9);
  transition: 0.1s;
  cursor: pointer;
}

.commonButton {
  transform: scale(1);
  transition: ease-in 0.1s;
  cursor: pointer;
}

.commonButton:active {
  /* background-color: rgba(251, 255, 0, 0.85);
  border-radius: 50%; */
  transition: 0.2s;
  transform: scale(0.8);
}


.background-move {
  animation: fadein1 0.7s ease-out;
}

@keyframes fadein1 {
  from {
    /* transform: translateX(100%); */
    opacity: 0;
  }

  to {
    /* transform: translateX(0%); */
    opacity: 1;
  }
}

.sceneBase {
  width: 100%;
  height: 100%;
}


.aniObject {
  animation: fadein 0.8s;
  /* animation-delay: 0.6s; */
}

.aniObjectDelay {
  animation: fadein 1.2s;
  /* animation-delay: 0.6s; */
}

.introAni {
  animation: fadein 0.8s;
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.starBtn1 {
  animation: fadein 0.5s;
}

.starBtn2 {
  animation: fadein 1s;
}

.starBtn3 {
  animation: fadein 1.5s;
}

.starBtn4 {
  animation: fadein 2s;
}

.starBtn5 {
  animation: fadein 2.5s;
}

.starBtn6 {
  animation: fadein 3s;

}

.expressBtn {
  width: 100%;
  height: 100%;
  margin-left: 0%;
  margin-top: 0%;
  cursor: pointer;
}


.expressBtn:hover {
  width: 106%;
  height: 106%;
  margin-left: -3%;
  margin-top: -3%;
}


.baseImage {
  position: absolute;
  user-select: none;
}

.introText {
  animation: introTextAni 1s;
  animation-timing-function: ease-in-out;
}

@keyframes introTextAni {
  0%, 20% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

* {
  user-select: none;
}



.changeTran1 {
  width: 8%;
  height: 8%;
  background-color: black;
  position: fixed;
  right: -95%;
  top: 30%;
  animation: changeTranAni1 10s;

}

@keyframes changeTranAni1 {
  0% {
    transform: rotateZ(120deg);
  }

  8% {
    transform: rotateZ(-65deg);
  }

  16%, 100% {
    transform: translateY(4000%) rotateZ(-65deg);
  }
}




.character-appear {
  opacity: 1;
  pointer-events: inherit;
}

.character-disappear {
  opacity: 0;
  pointer-events: inherit;
}

.excellentText {
  animation: excellentTextAni 1.4s;
  animation-timing-function: ease-in-out;
}


@keyframes excellentTextAni {
  0%, 50% {
    transform: scale(0.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;

  }
}


.bubble {
  animation: bubbleAni 12s infinite;
}

.bubble1 {
  animation: bubbleAni1 9s infinite;
}

@keyframes bubbleAni {
  0% {
    transform: translateY(100%) translateX(0%) scale(1);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-300%) translateX(5%) scale(2);
    opacity: 1;
  }
}


@keyframes bubbleAni1 {
  0% {
    transform: translateY(100%) translateX(0%) scale(1);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-1500%) translateX(-20%) scale(2.5);
    opacity: 1;
  }
}


/* 2022-2-11 */
.bluehalf {
  opacity: 0.4;
  transition: 0.5s;
}

.bluecomeback {
  opacity: 1;
  transition: 0.7s;
}

.scaleText {
  transform: scale(1.12);
}

.normalText {
  transform: scale(1);
}

img{
  user-select: none;
  pointer-events: none;
}

.upDownAni {
  animation: upDownAni1 2.5s infinite;
  animation-timing-function: linear;
}

@keyframes upDownAni1 {
  0%, 100% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(0.4vw);
  }

  75% {
    transform: translateY(-0.4vw);
  }
}

.movingRight{
  transition: 2s;
}